@font-face {
    font-family: 'ADVENTURES';
    src: url('ADVENTURES.woff2') format('woff2'),
        url('ADVENTURES.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

